<% include ./partials/header %>

  <section class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 main-corgi">

      <h2>Do you like <%= name %></h2>
      <img src="<%= url %>">
       <h6><%//= name %></h6>
      <button id="paw-left">Paw Left</button>
      <a href="/likes?id=<%=id%>">Paw Right</a>
    </div>
  </section>
	<section>
   <h3>Dogs You've Liked</h3>
   
 </section>

 <ul id="like_list">

 </ul>
  

<% include ./partials/footer %>