<% include ./partials/header %>

  <section class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 main-corgi">

      <h2>Do you like <%= dawg.name%></h2>
      <img src="<%= dawg.url%>">
       <h6><%//=dawg %></h6>
      <button id="paw-left">Paw Left</button>
      <button id="paw-right">Paw Right</button>
    </div>
  </section>

  <section>
    <h3>Dogs You've Liked</h3>
    <% for (var i = 0; i < dawg.length; i++) { %>
      <h6><%//= dawg[i].name %></h6>
      <img src="<%//= dawg[i].url %>" class="corgi-profile">
    <% } %>
  </section>

<% include ./partials/footer %>